@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face{
        font-family: 'BjeloPIC';
        font-weight: 400;
        src: url(/public/BjeloPIC-NotoBased.woff) format('woff');
    }
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
